*{
    font-family: "Inter";
}

.carrinho{
    width: 100%;
    margin: 20px 0;
}

.divHeader{
    background-color: #27AE60;
    padding: 10px;
    border-radius: 5px 5px 0px 0px
}

.divHeader p{
    font-size: 16px;
    color: #FFFFFF;
    font-weight: bold;
}

.divInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    padding: 40px 0;
    border-radius: 0px 0px 5px 5px
}

.divInfo h3{
    margin: 0;
}